@media only screen and (max-width: 600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
}